.top-navigation {
    border-bottom: 1px solid var(--border--border-300);
    background-color: var(--text--neutral-700);
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
}
.container {
    z-index: 2;
    background-color: var(--extra--transparent);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    position: relative;
}
.header-wrapper {
    position: relative;
    z-index: 101;
    overflow: hidden;
}
.space-between-block {
    column-gap: 30px;
    row-gap: 30px;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.nav-link.w--current {
    color: var(--primary--primary-main);
}
.navbar-logo-wrapper.w--current {
    padding-left: 0;
}
.site-logo {
    min-width: 180px;
    max-width: 225px;
}
.h-50px {
    height: 50px;
}
.search-bar-wrapper {
    width: 100%;
    max-width: 690px;
    margin-bottom: 0;
    position: relative;
}

.search-bar {
    border: 1px solid var(--text--neutral-400);
    color: var(--text--neutral-300);
    border-radius: 4px;
    background-color: var(--extra--transparent);
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}
.search-button {
    background-color: var(--primary--primary-main);
    color: var(--extra--white);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 45px;
    font-family: sans-serif;
    line-height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
}
.ecommerce-icons {
    column-gap: 30px;
    row-gap: 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.user-icon-block {
    column-gap: 12px;
    row-gap: 12px;
    align-items: center;
    display: flex;
}
._24px-svg {
    width: 24px;
    height: 24px;
}
._20px-svg {
    max-width: 20px;
}
.white-color {
    color: white;
}
.cart-button {
    column-gap: 20px;
    row-gap: 20px;
    background-color: var(--extra--transparent);
    padding: 0;
}
.relative-block {
    position: relative;
}
.cart-quantity {
    background-color: var(--primary--primary-300);
    color: var(--extra--white);
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    position: absolute;
    top: -4px;
    bottom: auto;
    left: auto;
    right: -11px;
}
._16px-svg {
    max-width: 16px;
}
.navbar {
    z-index: 999;
    background-color: var(--text--neutral-700);
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    position: sticky;
    top: 0;
}
.navbar-wrapper {
    column-gap: 29px;
    row-gap: 29px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    display: flex;
}
.category-dropdown {
    max-width: 310px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

._14px-text-uppercase {
    color: var(--text--neutral-100);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.browse-categories-block {
    column-gap: 11px;
    row-gap: 11px;
    align-items: center;
    padding: 0;
    display: flex;
}
.category-dropdown:hover > nav.category-bar-dropdown {
    display: flex;
    animation: categoryBarDropdownHover 0.3s ease forwards;
}
.category-bar-dropdown {
    position: absolute;
    z-index: 999;
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    border-radius: var(--border-radius--radius-4px);
    background-color: var(--text--neutral-700);
    flex-flow: column;
    width: 100%;
    min-width: 310px;
    max-width: 310px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: none;
    opacity: 0;
    transform: translate(0, 20px);
    transition: display 0.3s ease, opacity 0.3s ease, tranform 0.3s ease;
}

.category-item-side {
    cursor: pointer;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 310px;
    padding: 11px 25px;
    display: flex;
}
.category-item-side > a {
    display: block;
    color: rgb(180, 190, 203);
    transform: translate(0, 0);
}
.category-item-side:hover > a {
    animation: categoryItemSideHover 0.3s ease forwards;
}
.nav-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    column-gap: 30px;
    row-gap: 30px;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
}
.nav-list {
    color: var(--extra--white);
    flex: none;
}
.nav-link {
    color: var(--text--neutral-100);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    transition: color 0.3s ease-out;
    display: flex;
}
.nav-link:hover {
    color: var(--primary--primary-main);
}
.phone-and-email-wrapper-navbar {
    column-gap: 30px;
    row-gap: 0px;
    flex-flow: wrap;
    align-items: center;
    display: flex;
}
.horizontal-block-with-7px-gap {
    column-gap: 7px;
    row-gap: 7px;
    align-items: center;
    display: flex;
}
.neutral-100-semibold {
    color: var(--text--neutral-100);
    font-weight: 500;
}
.hero-block-3 {
    position: relative;
    column-gap: 25px;
    row-gap: 25px;
    border-radius: var(--border-radius--radius-4px);
    background-image: url(../images/layout/Mask_Backgroud.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 630px;
    padding: 111px 28px 111px 55px;
    display: flex;
    overflow: hidden;
}
.mask {
    position: relative;
    overflow: hidden;
}
.hero-block-3-contents {
    column-gap: 30px;
    row-gap: 30px;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.white-heading {
    color: var(--extra--white);
    max-width: 930px;
    margin-top: 0;
    margin-bottom: 0;
}
._15px-gap-stretch {
    column-gap: 15px;
    row-gap: 15px;
    align-items: stretch;
}
.button-text-wrapper {
    white-space: nowrap;
    height: 24px;
    overflow: hidden;
}
.featured-contents {
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
}
.hero-slider-image {
    object-fit: contain;
    width: 51%;
    max-width: 450%;
}
.hero-section {
    margin-top: 40px;
    margin-bottom: 50px;
}
.slide-nav-3 {
    border-radius: 10px 0 0;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    top: auto;
    bottom: -2px;
    left: auto;
    right: -2px;
}
.section {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}
.category-bar {
    column-gap: 17px;
    row-gap: 17px;
    border-radius: var(--border-radius--radius-4px);
    background-color: var(--text--neutral-700);
    flex-flow: column;
    width: 100%;
    max-width: 308px;
    min-height: 630px;
    padding: 25px 0px;
    display: flex;
}
.product-categories-vertical-block {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.category-sidebar-item {
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-width: 310px;
    padding: 11px 25px;
    display: flex;
}
._3-column-product-grid {
    column-gap: 20px;
    row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    padding-bottom: 10px;
    display: grid;
}
.product-cart {
    border-radius: var(--border-radius--radius-4px);
    background-color: var(--text--neutral-700);
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 315px;
    height: 100%;
    padding: 25px 30px 28px;
    transition: box-shadow 0.5s;
    display: flex;
    position: relative;
}
.product-thumbnail-wrapper {
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}
.product-thumbnail {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 220px;
}
.product-body {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 57px;
    display: flex;
}
.sale-tag {
    border-radius: var(--border-radius--radius-4px);
    background-color: var(--text--neutral-600);
    color: var(--extra--white);
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    position: absolute;
    top: 15px;
    bottom: auto;
    left: 6px;
    right: auto;
}
.product-name-on-card {
    color: var(--extra--white);
    font-size: 18px;
    line-height: 160%;
}
.star-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    overflow: hidden;
}
.star-icon {
    color: var(--tertiary-background--tertiary);
    font-size: 18px;
    line-height: 18px;
}
.product-price-block {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}
.card-price {
    color: var(--primary--primary-main);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}
._2px-width-divider {
    background-color: var(--border--border-100);
    width: 2px;
    height: 20px;
}
.card-discount-price {
    color: var(--border--border-100);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: line-through;
}
.add-to-cart {
    width: 100%;
    margin: 0 0 15px;
    overflow: hidden;
}
.add-to-cart-button:hover {
    border-color: var(--primary--primary-main);
    background-color: var(--primary--primary-main);
    color: var(--extra--white);
}
.add-to-cart-button {
    cursor: pointer;
    border-radius: var(--border-radius--radius-4px);
    background-color: var(--text--neutral-400);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Open Sans, sans-serif;
    transition: color 0.2s, background-color 0.4s;
}
.section-display-product {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
}
.footer {
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 26px;
    display: flex;
    border-top: 1px solid var(--text--neutral-300);
}
.footer-copyright {
    color: var(--text--neutral-200);
    flex-wrap: wrap;
    font-weight: 500;
    line-height: 26px;
    display: flex;
}
@keyframes categoryItemSideHover {
    0% {
        transform: translate(2px, 0);
        color: rgba(221, 56, 66, 0.5);
    }
    25% {
        transform: translate(4px, 0);
        color: rgba(221, 56, 66, 0.6);
    }
    50% {
        transform: translate(6px, 0);
        color: rgba(221, 56, 66, 0.7);
    }
    75% {
        transform: translate(8px, 0);
        color: rgba(221, 56, 66, 0.8);
    }
    100% {
        transform: translate(10px, 0);
        color: rgba(221, 56, 66, 1);
    }
}
@keyframes categoryBarDropdownHover {
    0% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    25% {
        transform: translate(0, 15px);
        opacity: 0.25;
    }
    50% {
        transform: translate(0, 10px);
        opacity: 0.5;
    }
    75% {
        transform: translate(0, 5px);
        opacity: 0.75;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}
